.checkout-container {

    padding: 30px;

    background: #f5f5f5;

    min-height: 100vh;

}



.checkout-grid {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

}



.checkout-card {

    background: white;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px #ccc;

}



.checkout-card input,
.checkout-card textarea {

    width: 100%;

    padding: 10px;

    margin: 10px 0;

}



.checkout-card textarea {

    height: 80px;

}



.checkout-card button {

    width: 100%;

    padding: 12px;

    background: orange;

    border: none;

    cursor: pointer;

    font-size: 18px;

}